<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Developer Skills</h1>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
          <a href='/skills/<%= skill.id %>'><%= skill.skill %></a>
            - 
          <%= skill.learned ? 'learned' : 'not learned' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add New Skill</a>
</body>
</html>