body {
  padding: 50px;
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: #000000;
}

li {
  font-size:20px;
}

#skill-status {
  color: rgb(94, 94, 255);
}

a {
  color: #00B7FF;
}
