<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Skill Status</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h2><%= skill.skill %></h2>
    <h3>Status: <span id="skill-status"><%= skill.learned ? 'Module Complete' : 'Module Coming Up!' %></span></h3>
</body>
</html>
